{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          I’m <strong>Chirag Dhawan</strong>, an aspiring Python & AI developer,
          building real-world projects through the <strong>100DaysOfCode</strong> challenge.
        </p>
        <p>
          This blog documents my journey - Flask apps, automation tools,
          APIs, databases, and AI-powered systems like Jarvis.
        </p>
        <p>
          My focus is on writing clean, scalable code and continuously improving
          through hands-on projects.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
